body {
    text-align: center;
    background: black;
}

canvas {
    cursor: none;
}

@font-face {
  font-family: 'Spicy Rice';
  src: url('../fonts/SpicyRice-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

#init-menu,
#game-over-menu {
	font-family: 'Spicy Rice', cursive;
	display: none;
	height: 500px;
    width: 600px;
    position: absolute;
    margin: auto;
    padding: 50px 10px;
    box-sizing: border-box;
    top: 0;
    bottom: 70px;
    left: 0;
    right: 0;
}

#init-menu {
	background-color: rgba(73, 167, 61, 0.8);
    box-shadow: 8px 10px 5px #072f04;
    border: solid 1px #074406;
}

#game-over-menu {
	background-color: rgba(73, 167, 61, 0.8);
    box-shadow: 8px 10px 5px #072f04;
    border: solid 1px #074406;
}

h2 {
    margin: 35px;
    font-size: 70px;
    letter-spacing: 3px;
	-webkit-text-stroke: 2px black;
	color: #9fd29e;
	text-shadow:
		3px 3px 0 #000,
		-1px -1px 0 #000,  
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

p {
	color: #001701;
	font-size: 24px;
}

button {
    background-color: #d0fbd2;
    border: solid 1px black;
    color: #4CAF50;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    transition: all .5s ease-in;
}

button:hover {
	color: #d0fbd2;
	background-color: #4CAF50;
	cursor: pointer;
	transition: all .5s ease-in;
}

#init-menu button {
    left: 247px;
}

#game-over-menu .reset-button {
	left: 132px;
}

#game-over-menu #menu-button {
    right: 132px;
}